@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  position: relative;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
}
.image {
  height: auto;
  width: 84rem;
}
.headtag {
  border: 1px solid black;
  background: aqua;
  font-size: large;
  margin-bottom: 50px;
  width: 10rem;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  padding: 50px;
}

label {
  font-size: large;
  margin-right: 100px;
}
.login-input {
  margin-bottom: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;
}
.login-input1 {
  margin-bottom: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;
}
.button {
  background: aqua;
  width: 70px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
  font-size: medium;
}
